@import "./colors.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cui-default-border-radius: 10px;
    --cui-small-border-radius: 5px;
    --cui-font-family: "Inter";

    --cui-background-color: #fff;

    --cui-primary-color: var(--cui-color-blue-600);
    --cui-danger-color: var(--cui-color-red-900);
    --cui-success-color: var(--cui-color-light-green-900);
}

@media (prefers-color-scheme: dark) {
    :root {
        --cui-background-color: #1A1A1A;
        --cui-danger-color: var(--cui-color-red-200);
        /*--cui-danger-color: #fb9ea1;*/
        --cui-success-color: var(--cui-color-green-400);
    }
    html {
        color: #ffffff;
    }
}

html {
    font-family: var(--cui-font-family), sans-serif;
}
