@use "../utilities/animations" as animations;

:root {
    --cui-button-font-weight: 500;
    // primary
    --cui-button-primary-background-color: var(--cui-primary-color);
    // make hover slightly darker
    --cui-button-primary-background-color-hover: hsl(from var(--cui-primary-color) h s calc(l * 0.90));
    --cui-button-primary-background-color-active: hsl(from var(--cui-primary-color) h s calc(l * 0.80));
    --cui-button-primary-background-color-loading: hsl(from var(--cui-primary-color) h s l / 0.20);
    --cui-button-primary-text-color: #fff;
    --cui-button-primary-text-color-loading: #fff;
    --cui-button-primary-loading-bar-background-color: var(--cui-button-primary-background-color);
    //secondary
    --cui-button-secondary-background-color: transparent;
    --cui-button-secondary-background-color-hover: hsl(from var(--cui-primary-color) h s l / 0.20);
    --cui-button-secondary-background-color-active: hsl(from var(--cui-primary-color) h s l / 0.30);
    --cui-button-secondary-text-color: var(--cui-button-primary-background-color);
    --cui-button-secondary-background-color-loading: transparent;
    --cui-button-secondary-text-color-loading: var(--cui-button-secondary-background-color-active);
    --cui-button-secondary-loading-bar-background-color: var(--cui-button-primary-background-color);
    //danger
    --cui-button-danger-background-color: var(--cui-danger-color);
    --cui-button-danger-background-color-hover: hsl(from var(--cui-danger-color) h s calc(l * 0.90));
    --cui-button-danger-background-color-active: hsl(from var(--cui-danger-color) h s calc(l * 0.80));
    --cui-button-danger-text-color: #fff;
    --cui-button-danger-background-color-loading: hsl(from var(--cui-danger-color) h s l / 0.20);
    --cui-button-danger-text-color-loading: #fff;
    --cui-button-danger-loading-bar-background-color: var(--cui-button-danger-background-color);
    //warning
    --cui-button-warning-background-color: var(--cui-warning-color);
    --cui-button-warning-background-color-hover: hsl(from var(--cui-warning-color) h s calc(l * 0.90));
    --cui-button-warning-background-color-active: hsl(from var(--cui-warning-color) h s calc(l * 0.80));
    --cui-button-warning-text-color: var(--cui-color-gray-800);
    --cui-button-warning-background-color-loading: hsl(from var(--cui-warning-color) h s l / 0.20);
    --cui-button-warning-text-color-loading: #fff;
    --cui-button-warning-loading-bar-background-color: var(--cui-button-warning-background-color);
    // dark
    --cui-button-transparent-dark-background-color: transparent;
    --cui-button-transparent-dark-text-color: var(--cui-color-gray-900);
    --cui-button-transparent-dark-background-color-hover: rgba(0, 0, 0, 0.1);
    --cui-button-transparent-dark-background-color-active: rgba(0, 0, 0, 0.2);
    --cui-button-transparent-dark-background-color-loading: var(--cui-button-transparent-dark-background-color-hover);
    --cui-button-transparent-dark-text-color-loading: var(--cui-button-transparent-dark-background-color-active);
    --cui-button-transparent-dark-loading-bar-background-color: var(--cui-button-transparent-dark-text-color);
    // light
    --cui-button-transparent-light-background-color: transparent;
    --cui-button-transparent-light-background-color-hover: rgba(255, 255, 255, 0.1);
    --cui-button-transparent-light-background-color-active: rgba(255, 255, 255, 0.2);
    --cui-button-transparent-light-text-color: #fff;
    --cui-button-transparent-light-background-color-loading: var(--cui-button-transparent-light-background-color-hover);
    --cui-button-transparent-light-text-color-loading: var(--cui-button-transparent-light-background-color-active);
    --cui-button-transparent-light-loading-bar-background-color: var(--cui-button-transparent-light-text-color);

}

.cui-button {
    padding: 0.9rem;
    border-radius: var(--cui-default-border-radius);
    font-weight: var(--cui-button-font-weight);
    cursor: pointer;
    position: relative;
    border: none;
    display: inline-flex;
    align-items: center;

    .cui-button__text {
        white-space: nowrap;
    }

    &.cui-button--loading {
        cursor: wait;

        &:after {
            animation: loading 1s infinite;
            border-radius: var(--cui-default-border-radius);
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &.cui-button--primary {
        background-color: var(--cui-button-primary-background-color);
        color: var(--cui-button-primary-text-color);

        &:hover {
            background: var(--cui-button-primary-background-color-hover);
        }

        &:active {
            background: var(--cui-button-primary-background-color-active);
        }

        &.cui-button--loading {
            background: var(--cui-button-primary-background-color-loading);
            color: var(--cui-button-primary-text-color-loading);

            &:after {
                background: var(--cui-button-primary-loading-bar-background-color);
            }
        }
    }

    &.cui-button--secondary {
        background: var(--cui-button-secondary-background-color);
        color: var(--cui-button-secondary-text-color);

        &:hover {
            background: var(--cui-button-secondary-background-color-hover);
        }

        &:active {
            background: var(--cui-button-secondary-background-color-active);
        }

        &.cui-button--loading {
            background: var(--cui-button-secondary-background-color-loading);
            color: var(--cui-button-secondary-text-color-loading);

            &:after {
                background: var(--cui-button-secondary-loading-bar-background-color);
            }
        }
    }

    &.cui-button--success {
        background: var(--cui-button-success-color);
        color: var(--cui-button-success-text-color);

        &:hover {
            background: var(--cui-button-success-color-hover);
        }

        &:active {
            background: var(--cui-button-success-color-active);
        }

        &.cui-button--loading {
            background: var(--cui-button-success-color-loading);
            color: var(--cui-button-success-text-color-loading);

            &:after {
                background: var(--cui-button-success-color);
            }
        }
    }

    &.cui-button--danger {
        background: var(--cui-button-danger-background-color);
        color: var(--cui-button-danger-text-color);

        &:hover {
            background: var(--cui-button-danger-background-color-hover);
        }

        &:active {
            background: var(--cui-button-danger-background-color-active);
        }

        &.cui-button--loading {
            background: var(--cui-button-danger-background-color-loading);
            color: var(--cui-button-danger-text-color-loading);

            &:after {
                background: var(--cui-button-danger-background-color);
            }
        }
    }

    &.cui-button--warning {
        background: var(--cui-button-warning-background-color);
        color: var(--cui-button-warning-text-color);

        &:hover {
            background: var(--cui-button-warning-background-color-hover);
        }

        &:active {
            background: var(--cui-button-warning-background-color-active);
        }

        &.cui-button--loading {
            background: var(--cui-button-warning-background-color-loading);
            color: var(--cui-button-warning-text-color-loading);

            &:after {
                background: var(--cui-button-warning-background-color);
            }
        }
    }

    &.cui-button--transparent-dark {
        background: var(--cui-button-transparent-dark-background-color);
        color: var(--cui-button-transparent-dark-text-color);

        &:hover {
            background: var(--cui-button-transparent-dark-background-color-hover);
        }

        &:active {
            background: var(--cui-button-transparent-dark-background-color-active);
        }

        &.cui-button--loading {
            color: var(--cui-button-transparent-dark-text-color-loading);
            background: var(--cui-button-transparent-dark-background-color-loading);

            &:after {
                background: var(--cui-button-transparent-dark-loading-bar-background-color);
            }
        }
    }

    &.cui-button--transparent-light {
        background: var(--cui-button-transparent-light-background-color);
        color: var(--cui-button-transparent-light-text-color);

        &:hover {
            background: var(--cui-button-transparent-light-background-color-hover);
        }

        &:active {
            background: var(--cui-button-transparent-light-background-color-active);
        }

        &.cui-button--loading {
            color: var(--cui-button-transparent-light-text-color-loading);
            background: var(--cui-button-transparent-light-background-color-loading);

            &:after {
                background: var(--cui-button-transparent-light-loading-bar-background-color);
            }
        }
    }

    .cui-button__icon {
        font-style: normal;

        &.cui-button__icon--start {
            margin-right: 0.5rem;
        }

        &.cui-button__icon--end {
            margin-left: 0.5rem;
        }
    }

    &.cui-button--loading .cui-button__icon--start, &.cui-button--loading .cui-button__icon--end {
        opacity: 0.5
    }
}
