@import "../../animations/animations.css";

:root {
    --cui-button-font-weight: 500;

    --cui-button-primary-background-color: var(--cui-primary-color);
    --cui-button-primary-background-color-hover: hsl(from var(--cui-primary-color) h s calc(l * 0.90));
    --cui-button-primary-background-color-active: hsl(from var(--cui-primary-color) h s calc(l * 0.80));
    --cui-button-primary-background-color-loading: hsl(from var(--cui-primary-color) h s l / 0.20);
    --cui-button-primary-text-color: #fff;
    --cui-button-primary-text-color-loading: #fff;
    --cui-button-primary-loading-bar-background-color: var(--cui-button-primary-background-color);

    --cui-button-secondary-background-color: transparent;
    --cui-button-secondary-background-color-hover: hsl(from var(--cui-primary-color) h s l / 0.20);
    --cui-button-secondary-background-color-active: hsl(from var(--cui-primary-color) h s l / 0.30);
    --cui-button-secondary-text-color: var(--cui-button-primary-background-color);
    --cui-button-secondary-background-color-loading: transparent;
    --cui-button-secondary-text-color-loading: var(--cui-button-secondary-background-color-active);
    --cui-button-secondary-loading-bar-background-color: var(--cui-button-primary-background-color);

    --cui-button-danger-background-color: var(--cui-danger-color);
    --cui-button-danger-background-color-hover: hsl(from var(--cui-danger-color) h s calc(l * 0.90));
    --cui-button-danger-background-color-active: hsl(from var(--cui-danger-color) h s calc(l * 0.80));
    --cui-button-danger-text-color: #fff;
    --cui-button-danger-background-color-loading: hsl(from var(--cui-danger-color) h s l / 0.20);
    --cui-button-danger-text-color-loading: #fff;
    --cui-button-danger-loading-bar-background-color: var(--cui-button-danger-background-color);

    --cui-button-success-background-color: var(--cui-success-color);
    --cui-button-success-background-color-hover: hsl(from var(--cui-success-color) h s calc(l * 0.90));
    --cui-button-success-background-color-active: hsl(from var(--cui-success-color) h s calc(l * 0.80));
    --cui-button-success-text-color: #fff;
    --cui-button-success-background-color-loading: hsl(from var(--cui-success-color) h s l / 0.20);
    --cui-button-success-text-color-loading: #fff;
    --cui-button-success-loading-bar-background-color: var(--cui-button-success-background-color);

    --cui-button-transparent-dark-background-color: transparent;
    --cui-button-transparent-dark-text-color: var(--cui-color-gray-900);
    --cui-button-transparent-dark-background-color-hover: rgba(0, 0, 0, 0.1);
    --cui-button-transparent-dark-background-color-active: rgba(0, 0, 0, 0.2);
    --cui-button-transparent-dark-background-color-loading: var(--cui-button-transparent-dark-background-color-hover);
    --cui-button-transparent-dark-text-color-loading: var(--cui-button-transparent-dark-background-color-active);
    --cui-button-transparent-dark-loading-bar-background-color: var(--cui-button-transparent-dark-text-color);

    --cui-button-transparent-light-background-color: transparent;
    --cui-button-transparent-light-background-color-hover: rgba(255, 255, 255, 0.1);
    --cui-button-transparent-light-background-color-active: rgba(255, 255, 255, 0.2);
    --cui-button-transparent-light-text-color: #fff;
    --cui-button-transparent-light-background-color-loading: var(--cui-button-transparent-light-background-color-hover);
    --cui-button-transparent-light-text-color-loading: var(--cui-button-transparent-light-background-color-active);
    --cui-button-transparent-light-loading-bar-background-color: var(--cui-button-transparent-light-text-color);
}

.cuiButton {
    padding: 0.9rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: var(--cui-default-border-radius);
    font-weight: var(--cui-button-font-weight);
    cursor: pointer;
    position: relative;
    border: solid 1px transparent;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;

    .cuiButtonText {
        white-space: nowrap;
    }

    &.cuiButton--loading {
        cursor: wait;

        &:after {
            animation: loading 1s infinite;
            border-radius: var(--cui-default-border-radius);
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &.cuiButton--primary {
        background-color: var(--cui-button-primary-background-color);
        border-color: var(--cui-button-primary-background-color);
        color: var(--cui-button-primary-text-color);

        &:hover {
            background: var(--cui-button-primary-background-color-hover);
            border-color: var(--cui-button-primary-background-color-hover);
        }

        &:active {
            background: var(--cui-button-primary-background-color-active);
            border-color: var(--cui-button-primary-background-color-active);
        }

        &.cuiButton--loading {
            background: var(--cui-button-primary-background-color-loading);
            border-color: var(--cui-button-primary-background-color-loading);
            color: var(--cui-button-primary-text-color-loading);

            &:after {
                background: var(--cui-button-primary-loading-bar-background-color);
                border-color: var(--cui-button-primary-loading-bar-background-color);
            }
        }
    }

    &.cuiButton--secondary {
        background: var(--cui-button-secondary-background-color);
        border-color: var(--cui-button-secondary-background-color);
        color: var(--cui-button-secondary-text-color);

        &:hover {
            background: var(--cui-button-secondary-background-color-hover);
            border-color: var(--cui-button-secondary-background-color-hover);
        }

        &:active {
            background: var(--cui-button-secondary-background-color-active);
            border-color: var(--cui-button-secondary-background-color-active);
        }

        &.cuiButton--loading {
            background: var(--cui-button-secondary-background-color-loading);
            border-color: var(--cui-button-secondary-background-color-loading);
            color: var(--cui-button-secondary-text-color-loading);

            &:after {
                background: var(--cui-button-secondary-loading-bar-background-color);
                border-color: var(--cui-button-secondary-loading-bar-background-color);
            }
        }
    }

    &.cuiButton--success {
        background: var(--cui-button-success-color);
        border-color: var(--cui-button-success-color);
        color: var(--cui-button-success-text-color);

        &:hover {
            background: var(--cui-button-success-color-hover);
            border-color: var(--cui-button-success-color-hover);
        }

        &:active {
            background: var(--cui-button-success-color-active);
            border-color: var(--cui-button-success-color-active);
        }

        &.cuiButton--loading {
            background: var(--cui-button-success-color-loading);
            border-color: var(--cui-button-success-color-loading);
            color: var(--cui-button-success-text-color-loading);

            &:after {
                background: var(--cui-button-success-color);
                border-color: var(--cui-button-success-color);
            }
        }
    }

    &.cuiButton--danger {
        background: var(--cui-button-danger-background-color);
        border-color: var(--cui-button-danger-background-color);
        color: var(--cui-button-danger-text-color);

        &:hover {
            background: var(--cui-button-danger-background-color-hover);
            border-color: var(--cui-button-danger-background-color-hover);
        }

        &:active {
            background: var(--cui-button-danger-background-color-active);
            border-color: var(--cui-button-danger-background-color-active);
        }

        &.cuiButton--loading {
            background: var(--cui-button-danger-background-color-loading);
            border-color: var(--cui-button-danger-background-color-loading);
            color: var(--cui-button-danger-text-color-loading);

            &:after {
                background: var(--cui-button-danger-background-color);
                border-color: var(--cui-button-danger-background-color);
            }
        }
    }

    &.cuiButton--success {
        background: var(--cui-button-success-background-color);
        border-color: var(--cui-button-success-background-color);
        color: var(--cui-button-success-text-color);

        &:hover {
            background: var(--cui-button-success-background-color-hover);
            border-color: var(--cui-button-success-background-color-hover);
        }

        &:active {
            background: var(--cui-button-success-background-color-active);
            border-color: var(--cui-button-success-background-color-active);
        }

        &.cuiButton--loading {
            background: var(--cui-button-success-background-color-loading);
            border-color: var(--cui-button-success-background-color-loading);
            color: var(--cui-button-success-text-color-loading);

            &:after {
                background: var(--cui-button-success-background-color);
                border-color: var(--cui-button-success-background-color);
            }
        }
    }

    &.cuiButton--transparent-dark {
        background: var(--cui-button-transparent-dark-background-color);
        border-color: var(--cui-button-transparent-dark-background-color);
        color: var(--cui-button-transparent-dark-text-color);

        &:hover {
            background: var(--cui-button-transparent-dark-background-color-hover);
            border-color: var(--cui-button-transparent-dark-background-color-hover);
        }

        &:active {
            background: var(--cui-button-transparent-dark-background-color-active);
            border-color: var(--cui-button-transparent-dark-background-color-active);
        }

        &.cuiButton--loading {
            color: var(--cui-button-transparent-dark-text-color-loading);
            border-color: var(--cui-button-transparent-dark-background-color-loading);
            background: var(--cui-button-transparent-dark-background-color-loading);

            &:after {
                background: var(--cui-button-transparent-dark-loading-bar-background-color);
                border-color: var(--cui-button-transparent-dark-loading-bar-background-color);
            }
        }
    }

    &.cuiButton--transparent-light {
        background: var(--cui-button-transparent-light-background-color);
        border-color: var(--cui-button-transparent-light-background-color);
        color: var(--cui-button-transparent-light-text-color);

        &:hover {
            background: var(--cui-button-transparent-light-background-color-hover);
            border-color: var(--cui-button-transparent-light-background-color-hover);
        }

        &:active {
            background: var(--cui-button-transparent-light-background-color-active);
            border-color: var(--cui-button-transparent-light-background-color-active);
        }

        &.cuiButton--loading {
            color: var(--cui-button-transparent-light-text-color-loading);
            border-color: var(--cui-button-transparent-light-background-color-loading);
            background: var(--cui-button-transparent-light-background-color-loading);

            &:after {
                background: var(--cui-button-transparent-light-loading-bar-background-color);
                border-color: var(--cui-button-transparent-light-loading-bar-background-color);
            }
        }
    }

    .cuiButtonIcon {
        font-style: normal;

        &.cuiButtonIcon--start {
            margin-right: 0.5rem;
        }

        &.cuiButtonIcon--end {
            margin-left: 0.5rem;
        }
    }

    &.cuiButton--loading .cuiButtonIcon--start, &.cuiButton--loading .cuiButtonIcon--end {
        opacity: 0.5
    }
}
