:root {
    --cui-form-input-border-color: var(--cui-color-gray-300);
    --cui-form-input-border-color-focus: var(--cui-primary-color);

    --cui-form-input-label-text-color: var(--cui-color-gray-700);
    --cui-form-input-label-text-color-focus: var(--cui-primary-color);
    --cui-form-input-background-color: var(--cui-background-color, #fff);

    --cui-form-hint-text-color: var(--cui-color-gray-500);
    --cui-form-error-text-color: var(--cui-danger-color);
}

.cui-form__group {
    display: flex;
    flex-direction: column;
}

.cui-form__field {
    display: flex;
    border: solid 1px var(--cui-form-input-border-color);
    border-radius: var(--cui-default-border-radius);
    position: relative;
    background-color: var(--cui-form-input-background-color);

    &:focus-within {
        border-color: var(--cui-form-input-border-color-focus);
        border-width: 1px;

        .cui-form__label {
            color: var(--cui-form-input-label-text-color-focus);
        }
    }

    &:focus-within, &.cui-form__field--has-value {
        .cui-form__label {
            //top: 0.4rem;
            margin-left: -0.25rem;
            transform: scale(0.8) translateY(-0.9rem);
        }

        .cui-form__control {
            padding: 1.4rem 0.9rem 0.4rem 0.9rem;
        }

        .cui-form__textarea-wrapper {
            .cui-form__label {
                margin-left: -0.5rem;
            }
        }
    }

    &--has-error {
        border-color: var(--cui-danger-color);

        .cui-form__label {
            color: var(--cui-danger-color);
        }

        .cui-form__error {
            display: block;
        }
    }
}

.cui-form-control__wrapper {
    position: relative;
}

.cui-form__control {
    font-family: var(--cui-font-family), sans-serif;
    padding: 0.9rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border: none;
    border-radius: var(--cui-default-border-radius);
    outline: none;
    min-width: 180px;
    background: var(--cui-form-input-background-color);

    &:focus {
        padding: calc(0.9rem - 1px);
    }
}

.cui-form__input {
    &:not(:focus)::placeholder {
        color: transparent;
    }
}

.cui-form__select-wrapper {
    .cui-form__select {
        appearance: none;
    }

    &:after {
        content: '';
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTIzMy40IDQwNi42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE5Mi0xOTJjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjU2IDMzOC43IDg2LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE5MiAxOTJ6Ii8+PC9zdmc+");
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0.9rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.cui-form__label {
    font-family: var(--cui-font-family), sans-serif;
    font-size: 0.9rem;
    position: absolute;
    left: 0;
    transition: all 0.1s;
    color: var(--cui-form-input-label-text-color);
    pointer-events: none;
    padding: 0.9rem 0.9rem;
    line-height: 1.5;
}

.cui-form__icon--start {
    margin: 0 0.9rem 0 0.9rem;
    display: flex;
    align-items: center;
}

.cui-form_icon--end {
    margin: 0 0.9rem 0 0.9rem;
    display: flex;
    align-items: center;
}

.cui-form__hint {
    font-size: 0.8rem;
    color: var(--cui-form-hint-text-color);
    margin-top: 0.2rem;
}

.cui-form__error {
    font-size: 0.8rem;
    color: var(--cui-form-error-text-color);
    margin-top: 0.2rem;
}
