.simpleLoader {
    border-radius: 50%;
    display: inline-block;
    border-top: 1px solid currentColor;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    height: 1em;
    width: 1em;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
