:root {
    --badge-primary-text-color: var(--cui-primary-color);
    --badge-primary-background-color: hsl(from var(--badge-primary-text-color) h s l / 0.10);

    --badge-danger-text-color: var(--cui-danger-color);
    --badge-danger-background-color: hsl(from var(--badge-danger-text-color) h s l / 0.10);

    --badge-success-text-color: var(--cui-success-color);
    --badge-success-background-color: hsl(from var(--badge-success-text-color) h s l / 0.10);

    --badge-red-text-color: var(--cui-color-red-700);
    --badge-red-background-color: hsl(from var(--badge-red-text-color) h s l / 0.10);

    --badge-pink-text-color: var(--cui-color-pink-700);
    --badge-pink-background-color: hsl(from var(--badge-pink-text-color) h s l / 0.10);

    --badge-purple-text-color: var(--cui-color-purple-700);
    --badge-purple-background-color: hsl(from var(--badge-purple-text-color) h s l / 0.10);

    --badge-indigo-text-color: var(--cui-color-indigo-700);
    --badge-indigo-background-color: hsl(from var(--badge-indigo-text-color) h s l / 0.10);

    --badge-blue-text-color: var(--cui-color-blue-700);
    --badge-blue-background-color: hsl(from var(--badge-blue-text-color) h s l / 0.10);

    --badge-teal-text-color: var(--cui-color-teal-900);
    --badge-teal-background-color: hsl(from var(--badge-teal-text-color) h s l / 0.10);

    --badge-green-text-color: var(--cui-color-green-800);
    --badge-green-background-color: hsl(from var(--badge-green-text-color) h s l / 0.10);

    --badge-lime-text-color: var(--cui-color-lime-900);
    --badge-lime-background-color: hsl(from var(--badge-lime-text-color) h s l / 0.10);

    --badge-yellow-text-color: var(--cui-color-yellow-700);
    --badge-yellow-background-color: hsl(from var(--badge-yellow-text-color) h s l / 0.10);

    --badge-orange-text-color: var(--cui-color-orange-900);
    --badge-orange-background-color: hsl(from var(--badge-orange-text-color) h s l / 0.10);

    --badge-brown-text-color: var(--cui-color-brown-700);
    --badge-brown-background-color: hsl(from var(--badge-brown-text-color) h s l / 0.10);

    --badge-gray-text-color: var(--cui-color-gray-700);
    --badge-gray-background-color: hsl(from var(--badge-gray-text-color) h s l / 0.10);

    --badge-blue-gray-text-color: var(--cui-color-blue-gray-700);
    --badge-blue-gray-background-color: hsl(from var(--badge-blue-gray-text-color) h s l / 0.10);
}

@media (prefers-color-scheme: dark) {
    :root {
        --badge-primary-text-color: var(--cui-primary-color);
        --badge-primary-background-color: hsl(from var(--cui-primary-color) h s l / 0.10);

        --badge-danger-text-color: var(--cui-danger-color);
        --badge-danger-background-color: hsl(from var(--cui-danger-color) h s l / 0.10);

        --badge-success-text-color: var(--cui-success-color);
        --badge-success-background-color: hsl(from var(--cui-success-color) h s l / 0.10);

        --badge-red-text-color: var(--cui-color-red-300);
        --badge-red-background-color: hsl(from var(--badge-red-text-color) h s l / 0.10);

        --badge-pink-text-color: var(--cui-color-pink-300);
        --badge-pink-background-color: hsl(from var(--badge-pink-text-color) h s l / 0.10);

        --badge-purple-text-color: var(--cui-color-purple-300);
        --badge-purple-background-color: hsl(from var(--badge-purple-text-color) h s l / 0.10);

        --badge-indigo-text-color: var(--cui-color-indigo-300);
        --badge-indigo-background-color: hsl(from var(--badge-indigo-text-color) h s l / 0.10);

        --badge-blue-text-color: var(--cui-color-blue-300);
        --badge-blue-background-color: hsl(from var(--badge-blue-text-color) h s l / 0.10);

        --badge-teal-text-color: var(--cui-color-teal-300);
        --badge-teal-background-color: hsl(from var(--badge-teal-text-color) h s l / 0.10);

        --badge-green-text-color: var(--cui-color-green-300);
        --badge-green-background-color: hsl(from var(--badge-green-text-color) h s l / 0.10);

        --badge-lime-text-color: var(--cui-color-lime-300);
        --badge-lime-background-color: hsl(from var(--badge-lime-text-color) h s l / 0.10);

        --badge-yellow-text-color: var(--cui-color-yellow-300);
        --badge-yellow-background-color: hsl(from var(--badge-yellow-text-color) h s l / 0.10);

        --badge-orange-text-color: var(--cui-color-orange-300);
        --badge-orange-background-color: hsl(from var(--badge-orange-text-color) h s l / 0.10);

        --badge-brown-text-color: var(--cui-color-brown-300);
        --badge-brown-background-color: hsl(from var(--badge-brown-text-color) h s l / 0.10);

        --badge-gray-text-color: var(--cui-color-gray-300);
        --badge-gray-background-color: hsl(from var(--badge-gray-text-color) h s l / 0.10);

        --badge-blue-gray-text-color: var(--cui-color-blue-gray-300);
        --badge-blue-gray-background-color: hsl(from var(--badge-blue-gray-text-color) h s l / 0.10);
    }
}

.cuiBadge {
    padding: 0.25rem;
    font-size: 0.75rem;
    border-radius: var(--cui-small-border-radius);

    &.cuiBadge--primary {
        color: var(--badge-primary-text-color);
        background-color: var(--badge-primary-background-color);
    }

    &.cuiBadge--danger {
        color: var(--badge-danger-text-color);
        background-color: var(--badge-danger-background-color);
    }

    &.cuiBadge--success {
        color: var(--badge-success-text-color);
        background-color: var(--badge-success-background-color);
    }

    &.cuiBadge--red {
        color: var(--badge-red-text-color);
        background-color: var(--badge-red-background-color);
    }

    &.cuiBadge--pink {
        color: var(--badge-pink-text-color);
        background-color: var(--badge-pink-background-color);
    }

    &.cuiBadge--purple {
        color: var(--badge-purple-text-color);
        background-color: var(--badge-purple-background-color);
    }

    &.cuiBadge--indigo {
        color: var(--badge-indigo-text-color);
        background-color: var(--badge-indigo-background-color);
    }

    &.cuiBadge--blue {
        color: var(--badge-blue-text-color);
        background-color: var(--badge-blue-background-color);
    }

    &.cuiBadge--teal {
        color: var(--badge-teal-text-color);
        background-color: var(--badge-teal-background-color);
    }

    &.cuiBadge--green {
        color: var(--badge-green-text-color);
        background-color: var(--badge-green-background-color);
    }

    &.cuiBadge--lime {
        color: var(--badge-lime-text-color);
        background-color: var(--badge-lime-background-color);
    }

    &.cuiBadge--yellow {
        color: var(--badge-yellow-text-color);
        background-color: var(--badge-yellow-background-color);
    }

    &.cuiBadge--orange {
        color: var(--badge-orange-text-color);
        background-color: var(--badge-orange-background-color);
    }

    &.cuiBadge--brown {
        color: var(--badge-brown-text-color);
        background-color: var(--badge-brown-background-color);
    }

    &.cuiBadge--gray {
        color: var(--badge-gray-text-color);
        background-color: var(--badge-gray-background-color);
    }

    &.cuiBadge--blueGray {
        color: var(--badge-blue-gray-text-color);
        background-color: var(--badge-blue-gray-background-color);
    }
}
