:root {
    --cui-tab-hover-text-color: var(--cui-primary-color);
    --cui-tab-active-text-color: var(--cui-primary-color);
    --cui-tab-header-border-color: var(--cui-border-color);
    --cui-tab-marker-color: var(--cui-primary-color);
    --cui-tab-marker-height: 3px;

    --internal_tab-marker-left-offset: 0px;

}
.tabsContainer {
    display: flex;
    flex-direction: column;
}

.tabsHeader {
    display: flex;
    border-bottom: 1px solid var(--cui-tab-header-border-color);
    position: relative;
    margin-bottom: 1rem;
    width: stretch;
}

.tabHeaderItem {
    padding: 1rem;
    border: none;
    background: none;
    color: inherit;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:hover {
        color: var(--cui-tab-hover-text-color);
    }

    &.tabHeaderItem--active {
        color: var(--cui-tab-active-text-color);
    }
}

.tabHeaderMarker {
    height: var(--cui-tab-marker-height);
    background-color: var(--cui-tab-marker-color);
    transition: transform 0.3s ease, width 0.3s ease;
    position: absolute;
    bottom: -1px;
    transform: translateX(var(--internal_tab-marker-left-offset, 0px));
    /*border-radius: var(--cui-default-border-radius) var(--cui-default-border-radius) 0 0;*/
}
