:root {
    --cui-tab-hover-text-color: var(--cui-primary-color);
    --cui-tab-active-text-color: var(--cui-primary-color);
    --cui-tab-marker-color: var(--cui-primary-color);
    --cui-tab-header-border-color: var(--cui-border-color);

}
.tabsHeader {
    display: flex;
    border-bottom: 1px solid var(--cui-tab-header-border-color);
    position: relative;
    margin-bottom: 1rem;
}

.tabHeaderItem {
    padding: 1rem;
    border: none;
    background: none;
    color: inherit;

    &:hover {
        color: var(--cui-tab-hover-text-color);
    }

    &.tabHeaderItem--active {
        color: var(--cui-tab-active-text-color);
    }
}

.tabHeaderMarker {
    height: 3px;
    background-color: var(--cui-tab-marker-color);
    transition: transform 0.3s ease, width 0.3s ease;
    position: absolute;
    bottom: -1px;
    transform: translateX(var(--tab-marker-left-offset, 0px));
    /*border-radius: var(--cui-default-border-radius) var(--cui-default-border-radius) 0 0;*/
}
